/* DOM Elements */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100italic,100,300,300italic,400italic,500,500italic,700italic,900,900italic,700);

@media (max-width:800px) {
	body {
		/*background-color:#262C3A;*/
		background-image:url('../img/body_bg.jpg');
		background-repeat:no-repeat;
		background-attachment:fixed;
		background-size:100% 100%;
		overflow-x:hidden;
		overflow-y:hidden;
	}

	.fb_main_logo {
		position:relative;
		margin:auto;
		height:100%;
		width:100%;
		/* Rectangle 1: */
		background-image: -o-linear-gradient(-45deg, #4F576A 0%, #1E2028 100%);
		background-image: -moz-linear-gradient(-45deg, #4F576A 0%, #1E2028 100%);
		background-image: -ms-linear-gradient(-45deg, #4F576A 0%, #1E2028 100%);
		background-image: linear-gradient(-135deg, #4F576A 0%, #1E2028 100%);
		text-align:center;
	}

	.fb_main_logo img {
		width:176px;
		height:204px;
		margin-top:150px;
		opacity:0.83;
	}

	/* fistbump menu bar styles */
	.fb_menu_bar {
		margin:auto;
		height:41px;
		/*height:80px; height is already fixed by clearfix */
		background-color:#262C3A;
	}


	/*** Find Event Screen ***/
	#fb_menu_bar_drawer_icon {
		float:left;
		height:41px;
		width:40px;
		background-image:url('../img/menu_bar_drawer_icon.png');
		background-repeat:no-repeat;
		background-size:100%;
	}

	#fb_menu_bar_option_icon {
		float:right;
		height:41px;
		width:27px;
		background-image:url('../img/menu_bar_option_icon.png');
		background-repeat:no-repeat;
		background-size:100%;
	}

	#fb_menu_bar_notification_icon {
		float:right;
		height:41px;
		width:50px;
		background-image:url('../img/menu_bar_notification_icon.png');
		background-repeat:no-repeat;
		background-size:100%;
	}

	#fb_event_search_box_bg {
		margin:auto;
		width:100%;
		height:163px;
		background-image:url('../img/search_box.png');
		background-repeat:no-repeat;
		background-size:100%;
	}

	.fb_event_search_box input {
		position: relative;
		margin-left: 45px;
		width: 70%;
		height: 20%;
		top: 88px;
		color: #959595;
		border: none;
		text-align: center;
		font-family: 'Roboto', sans-serif;
		font-size: 1em;
		font-weight: 300;
		background-color: transparent;
		outline: none;
		box-shadow: none;
	}

	.fb_event_search_box input:hover { 
	    outline: none; 
	    box-shadow: none;
	    background-color:transparent;
	} 
	.fb_event_search_box input:focus { 
	    outline: none; 
	    box-shadow: none;
	    background-color:transparent;
	} 
	.fb_event_search_box input:active { 
	    outline: none;
	    box-shadow: none;
	    background-color:transparent;
	}

	.fb_event_body_box {
		margin:auto;
		height:436px;
		background-color:#262C3A;
		overflow-x:hidden;
	}

	#fb_event_body_box_heading {
		text-align:center;
		margin-top:5px;
		color:#FCFCFC;
		font-family: 'Roboto', sans-serif;
		font-size:1em;
		font-weight:300;
		margin-bottom:10px;
	}

	.fb_event_body_box_event_card {
		/* screen_find_event_event_card: */   
		height:99px;
		width:90%;
		margin-top:4px;
		background-image: -o-linear-gradient(0deg, #1E2027 0%, #262B39 100%);
		background-image: -moz-linear-gradient(0deg, #1E2027 0%, #262B39 100%);
		background-image: -ms-linear-gradient(0deg, #1E2027 0%, #262B39 100%);
		background-image: linear-gradient(-90deg, #1E2027 0%, #262B39 100%);
		border: 1px solid #2B3242;
		-moz-box-shadow:    5px 2px 4px 0px rgba(0,0,0,0.50);
		box-shadow:         5px 2px 4px 0px rgba(0,0,0,0.50);
		display:inline-block;
	}

	.fb_event_body_box_event_card_event_icon img {
		float:left;
		position:relative;
		width:15%;
		height:15%;
		margin-top:25px;
		margin-left:25px;

	}

	.fb_event_body_box_event_name {
		float:left;
		position:relative;
		color:#FCFCFC;
		font-family: 'Roboto', sans-serif;
		font-size:0.6em;
		margin-top:25px;
		margin-left:20px;
		font-weight:bold;
	}

	.fb_event_body_box_event_details {
		font-size:0.4em;
		font-weight:300;
		height:10px;
	}

	.fb_event_body_box_event_desc {
		font-size:0.4em;
		font-weight:300;
		height:10px;
	}

	.fb_event_body_box_event_number_join {
		color:#9AE0A3;
	}

	.fb_event_body_box_event_name span {
		position:relative;
		
	}

	/* Match Screen */
	.fb_match_profile_cover {
		margin:auto;
		width:100%;
		height:163px;
		background-image:url('../img/match_profile_bg_george.png');
		background-repeat:no-repeat;
		background-size:100%;
	}

	.fb_match_profile_body {
		height:436px;
		width:100%;
		background-color:#262C3A;
	}

	.fb_match_profile_cover_profile_photo {
		position:relative;
		text-align:center;
		top:15px;
	}

	.fb_match_profile_cover_profile_photo img {
		-moz-border-radius: 50%;
	    -webkit-border-radius: 50%;
	    border-radius: 50%;
	    height:70px;
	    width:70px;
	}

	.fb_match_profile_name {
		text-align:center;
		margin-top:20px;
		color:#FCFCFC;
		font-family: 'Roboto', sans-serif;
		font-size:1.3em;
		font-weight:300;
	}

	.fb_match_profile_title {
		text-align:center;
		margin-top:3px;
		color:#FCFCFC;
		font-family: 'Roboto', sans-serif;
		font-size:1em;
		font-weight:300;
		
	}

	.fb_match_profile_button_icon {
		margin:auto;
		float:left;
		width:50%;
		height:60px;
		background-image:url('../img/profile_button_icon.png');
		background-size:90%;
		border-right:1px solid #42495A;
		border-bottom:1px solid #42495A;
		
	}

	.fb_match_profile_feed_icon {
		margin:auto;
		float:left;
		width:50%;
		height:60px;
		background-image:url('../img/feed_button_icon.png');
		background-size:90%;
		border-bottom:1px solid #42495A;
	}

	.fb_match_profile_body {
		background:#262C3A;
		height:297px;
		width:100%;
	}

	.fb_match_later_meet_button {
		background:#262C3A;
		width:100%;
		height:80px;
		position:relative;
		margin-top:-100px;
	}

	.fb_match_later_button_icon {
		margin:auto;
		float:left;
		width:50%;
		height:60px;
		background-image:url('../img/later_button_icon.png');
		background-repeat:no-repeat;
		background-size:100%;
	}

	.fb_match_meet_button_icon {
		margin:auto;
		float:left;
		width:50%;
		height:60px;
		background-image:url('../img/meet_button_icon.png');
		background-repeat:no-repeat;
		background-size:100%;
	}

	.fb_match_profile_body_tagline_box {
		position:relative;
		margin:auto;
		top:20px;
		background-color:#2D3241;
		height:40%;
		width:90%;
		padding:20px 20px 20px 20px;
	}

	.fb_match_profile_body_tagline {
		text-align:center;
		top:5px;
		color:#FCFCFC;
		font-family: 'Roboto', sans-serif;
		font-size:1em;
		font-style:italic;
		font-weight:300;
	}

	.fb_match_profile_filter_button {
		position:relative;
		margin:auto;
		top:10px;
		background-color:#A9CFF0;
		height:15%;
		width:90%;
		padding-top:5px;
		padding-left:5px;
		padding-right:5px;
	}

	.fb_match_profile_filter_button_icon {
		margin:auto;
		float:left;
		height:30px;
		width:32px;
		background-image:url('../img/filter_button_icon.png');
		background-repeat:no-repeat;
		background-size:100%;
	}

	.fb_match_profile_filter_button_text {
		text-align:center;
		top:7px;
		left:7px;
		color:#FCFCFC;
		font-family: 'Roboto', sans-serif;
		font-size:0.9em;
		font-style:italic;
		font-weight:400;
		position:relative;
	}

	.meet_animation {
      -webkit-animation-name: meet_animation;
      -webkit-animation-duration: 0.3s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-timing-function: ease-out;
      -moz-animation-name: meet_animation;
      -moz-animation-duration: 0.3s;
      -moz-animation-iteration-count: 1;
      -moz-animation-timing-function: ease-out;
    }

    .later_animation {
      -webkit-animation-name: later_animation;
      -webkit-animation-duration: 0.3s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-timing-function: ease-out;
      -moz-animation-name: later_animation;
      -moz-animation-duration: 0.3s;
      -moz-animation-iteration-count: 1;
      -moz-animation-timing-function: ease-out;
    }

    .expand_animation {
      -webkit-animation-name: expand_animation;
      -webkit-animation-duration: 0.3s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-timing-function: ease-out;
      -moz-animation-name: expand_animation;
      -moz-animation-duration: 0.3s;
      -moz-animation-iteration-count: 1;
      -moz-animation-timing-function: ease-out;
    }
/*
	@-webkit-keyframes expand {
	      from {
	        opacity: 1.0;
	        transform: scale(1.5);
	        -webkit-transform:;
	      }
	      to {
	        opacity: 0;
	        transform: scale(1.5);
	        -webkit-transform:scale(1.5);
	      }
	    }
	    
*/

	@-webkit-keyframes meet_animation {
		0% { 
			-webkit-transform:translateX(10%) rotate(5deg);
			-moz-transform:translateX(10%) rotate(5deg);
			transform:translateX(10%) rotate(5deg);
		}
		50% {
			-webkit-transform:translateX(50%) translateY(-30%) rotate(30deg);
			-moz-transform:translateX(50%) translateY(-30%) rotate(30deg);
			transform:translateX(50%) translateY(-30%) rotate(30deg);
		}
		100% {
			-webkit-transform:translateX(100%) translateY(-50%) rotate(60deg);
			-moz-transform:translateX(100%) translateY(-50%) rotate(60deg);
			transform:translateX(100%) translateY(-50%) rotate(60deg);
		}
	}

	@-webkit-keyframes later_animation {
		0% { 
			-webkit-transform:translateX(-10%) rotate(-5deg);
			-moz-transform:translateX(-10%) rotate(-5deg);
			transform:translateX(-10%) rotate(-5deg);
		}
		50% {
			-webkit-transform:translateX(-50%) translateY(-30%) rotate(-30deg);
			-moz-transform:translateX(-50%) translateY(-30%) rotate(-30deg);
			transform:translateX(-50%) translateY(-30%) rotate(-30deg);
		}
		100% {
			-webkit-transform:translateX(-100%) translateY(-50%) rotate(-60deg);
			-moz-transform:translateX(-100%) translateY(-50%) rotate(-60deg);
			transform:translateX(-100%) translateY(-50%) rotate(-60deg);
		}
	}

	@-webkit-keyframes expand_animation {
		0% { 
			-webkit-transform:scale(0.5);
			-moz-transform:scale(0.5);
			transform:scale(0.5);
			opacity:0;
		}
		100% {
			-webkit-transform:scale(1);
			-moz-transform:scale(0.5);
			transform:scale(1);
			opacity:1;
		}
	}

	@-moz-keyframes meet_animation {
		0% { 
			-webkit-transform:translateX(10%) rotate(5deg);
			-moz-transform:translateX(10%) rotate(5deg);
			transform:translateX(10%) rotate(5deg);
		}
		50% {
			-webkit-transform:translateX(50%) translateY(-30%) rotate(30deg);
			-moz-transform:translateX(50%) translateY(-30%) rotate(30deg);
			transform:translateX(50%) translateY(-30%) rotate(30deg);
		}
		100% {
			-webkit-transform:translateX(100%) translateY(-50%) rotate(60deg);
			-moz-transform:translateX(100%) translateY(-50%) rotate(60deg);
			transform:translateX(100%) translateY(-50%) rotate(60deg);
		}
	}

	@-moz-keyframes later_animation {
		0% { 
			-webkit-transform:translateX(-10%) rotate(-5deg);
			-moz-transform:translateX(-10%) rotate(-5deg);
			transform:translateX(-10%) rotate(-5deg);
		}
		50% {
			-webkit-transform:translateX(-50%) translateY(-30%) rotate(-30deg);
			-moz-transform:translateX(-50%) translateY(-30%) rotate(-30deg);
			transform:translateX(-50%) translateY(-30%) rotate(-30deg);
		}
		100% {
			-webkit-transform:translateX(-100%) translateY(-50%) rotate(-60deg);
			-moz-transform:translateX(-100%) translateY(-50%) rotate(-60deg);
			transform:translateX(-100%) translateY(-50%) rotate(-60deg);
		}
	}

	@-moz-keyframes expand_animation {
		0% { 
			-webkit-transform:scale(0.5);
			-moz-transform:scale(0.5);
			transform:scale(0.5);
			opacity:0;
		}
		100% {
			-webkit-transform:scale(1);
			-moz-transform:scale(0.5);
			transform:scale(1);
			opacity:1;
		}
	}

	/* Chat Screen Styles */

	.fb_chat_container {
		width:100%;
		height:100%;
	}
	.fb_chat_profile_card {
		width:100%;
		height:70px;
		background-image: -o-linear-gradient(0deg, #1E2027 0%, #262B39 100%);
		background-image: -moz-linear-gradient(0deg, #1E2027 0%, #262B39 100%);
		background-image: -ms-linear-gradient(0deg, #1E2027 0%, #262B39 100%);
		background-image: linear-gradient(-90deg, #1E2027 0%, #262B39 100%);
		border-bottom: 1px solid #2B3242;
		-moz-box-shadow:    5px 2px 4px 0px rgba(0,0,0,0.50);
		box-shadow:         5px 2px 4px 0px rgba(0,0,0,0.50);
		z-index:-1;	
	}

	.fb_chat_body_box {
		position:relative;
		width:100%;
		height:68.5%;
		background-color:#EEEEEE;
		/* debug border - remove when done */
		border:1px solid black;
		padding:20px 20px 20px 20px;
		overflow-y:scroll;
	}

	.fb_chat_input_box {
		position:relative;
		width:100%;
		height:12.5%;
		background-color:#262C3A;
	}

	.fb_chat_input_line {
		position:relative;
		background-color:#EEEEEE;
		top:10px;
		width:100%;
		height:70%;
	}

	.fb_chat_input_box input {
		position: relative;
		float:left;
		width: 80%;
		height:100%;
		color: #959595;
		border:none;
		text-align: left;
		font-family: 'Roboto', sans-serif;
		font-size: 1em;
		font-weight: 300;
		background-color: transparent;
		outline: none;
		box-shadow: none;
	}

	.fb_chat_input_box input:hover { 
	    outline: none; 
	    box-shadow: none;
	    background-color:transparent;
	} 
	.fb_chat_input_box input:focus { 
	    outline: none; 
	    box-shadow: none;
	    background-color:transparent;
	} 
	.fb_chat_input_box input:active { 
	    outline: none;
	    box-shadow: none;
	    background-color:transparent;
	}

	.fb_chat_arrow {
		margin-left:25px;
		margin-top:10px;
		float:left;
		height:32px;
		width:32px;
		background-image:url('../img/chat_arrow.png');
		background-repeat:no-repeat;
		background-size:100%;
	}

	.fb_chat_own_bubble {
		float:left;
		position: relative;
		margin-top:10px;
		width:85%;
		padding: 15px 15px 15px 15px;
		word-wrap: break-word;
		background: #CAF5D2;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		color: #262C3A;
		text-align: left;
		font-family: 'Roboto', sans-serif;
		font-size: 1em;
		font-weight: 300;
	}


	.fb_chat_other_bubble {
		float:right;
		margin-top:10px;
		position: relative;
		width:85%;
		padding: 15px 15px 15px 15px;
		word-wrap: break-word;
		background: #FDDAC4;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		color: #262C3A;
		text-align: left;
		font-family: 'Roboto', sans-serif;
		font-size: 1em;
		font-weight: 300;
	}

	.fb_chat_profile_cover_profile_photo {
		float:left;
	}

	.fb_chat_profile_cover_profile_photo img {
		-moz-border-radius: 50%;
	    -webkit-border-radius: 50%;
	    border-radius: 50%;
	    height:60px;
	    width:60px;
	    margin-top:2px;
	    margin-left:20px;
	}

	.fb_chat_profile_details {
		position:relative;
		float:left;
		margin-top:15px;
		margin-left:15px;
		color: #FCFCFC;
		text-align: left;
		font-family: 'Roboto', sans-serif;
	}

	.fb_chat_profile_name {
		font-size: 0.8em;
		font-weight: 400;
	}

	.fb_chat_profile_title, .fb_chat_profile_event_met {
		margin-top:2px;
		font-size: 0.7em;
		font-weight: 300;
	}

	.fb_chat_timestamp {
		float:left;
		margin-top:13px;
		margin-left:5%;
		font-size: 0.3em;
		font-weight: 300;
		color:#959595;
	}

	.fb_chat_translate img {
		float:left;
		margin-top:8px;
		margin-left:48%;
		height:8%;
		width:8%;
	}
	/*** Mock Ups Style ***/

	#screen_find_event {
		text-align:center;
	}

	#screen_card_match {
		text-align:center;
	}

	#screen_card_manage_contact {
		text-align: center;
	}

	#screen_card_match_filter {
		text-align:center;
	}

	#screen_card_chat {
		text-align:center;
	}

}