<!doctype html>
<html class="no-js" lang="en" ng-app="fbApp">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0" />
    <title>Fistbump 0.2</title>
    <link rel="stylesheet" href="vendor/foundation/css/foundation.css" />
    <link rel="stylesheet" href="css/style.css" media="(max-width:800px)"/>
    <script src="vendor/foundation/js/vendor/modernizr.js"></script>
    <script src="vendor/angular/angular.js"></script> 
    <script src="vendor/angular-route/angular-route.js"></script>

    <!-- load scripts -->
    <script src="//cdn.firebase.com/js/client/1.0.6/firebase.js"></script>
    <!-- <script src="vendor/angular-animate/angular-animate.js"></script>
    <script src="vendor/angular-route/angular-route.js"></script> -->
    <script src="js/app.js"></script>


  </head>
  <body ng-view>

    <!-- Find Event Screen -->
      <!-- Menu Bar -->
     

      <div class="fb_menu_bar clearfix" ng-controller="NavBarController">
          <a href="/#/match"><div id="fb_menu_bar_drawer_icon"></div></a>
          <div id="fb_menu_bar_option_icon"></div>
          <div id="fb_menu_bar_notification_icon"></div>
      </div>


      <div class="fb_chat_container">
        <!-- Chat screen profile card -->
        <div class="fb_chat_profile_card">
          <!-- two way data binded -->
            <div class="fb_chat_profile_cover_profile_photo"><img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/3/005/013/274/0d24646.jpg"></div>

            <div class="fb_chat_profile_details">
                <div class="fb_chat_profile_name">George Moh</div>
                <div class="fb_chat_profile_title">Software Engineer at Liquor.com</div>
                <div class="fb_chat_profile_event_met">Google I/O 2013</div>
            </div>
        </div>

        <div class="fb_chat_body_box">
            <div class="fb_chat_own_bubble">
              Hi!
            </div>
            <div class="fb_chat_other_bubble">
              Sup?
            </div>
            <div class="fb_chat_own_bubble">
              Nah just checking in.
            </div>
            <div class="fb_chat_own_bubble">
              You down on sat?
            </div>
            <div class="fb_chat_other_bubble">
              No man. I'm cool. You go ahead brah.
            </div>
            <div class="fb_chat_own_bubble">
              A'righty. Catch ya later bro.
            </div>
        </div>

        <div class="fb_chat_input_box">
            <div class="fb_chat_input_line">
              <input type="text" placeholder="Type your text here">
              <div class="fb_chat_arrow" ng-click="sendChat"></div>
            </div>
            
        </div>
      </div>





    <!--  <div class="fb_profile_page" ng-controller="profilePageController">

       <div class="profile_carousel">
          <div class="fb_match_profile_cover">
            <div class="fb_match_profile_cover_profile_photo"><img src="{{fb_match_profile_photo}}"></div>

            <div class="fb_match_profile_name">
            {{fb_match_profile_name}}
            </div>
            
            <div class="fb_match_profile_title">
                {{fb_match_profile_title}}
            </div>
          </div>
      
          <div class="fb_match_profile_buttons clearfix">
              <div class="fb_match_profile_button_icon"></div>
              <div class="fb_match_profile_feed_icon"></div>
          </div>

          <div class="fb_match_profile_body">
            <div class="fb_match_profile_filter_button">
              <div class="fb_match_profile_filter_button_icon">
              </div>
              <span class="fb_match_profile_filter_button_text">
              Not finding the right person? Click here!
              </span>
            </div>
            <div class="fb_match_profile_body_tagline_box">
                <span class="fb_match_profile_body_tagline">
                {{fb_match_profile_tagline}}
                </span>
              </div>
          </div>
        </div>

        <div class="fb_match_later_meet_button clearfix">
          <div class="fb_match_later_button_icon" ng-click="clickLater()"></div>
          <div class="fb_match_meet_button_icon" ng-click="clickMeet()"></div>
        </div>

      </div>
      -->

    
    <!-- Mock ups 

    <div id="screen_find_event">
      <a href="#screen_card_match"><img src="img/screen_find_event.png"></a>
    </div>

    <div id="screen_card_match">
      <a href="#screen_card_match_filter"><img src="img/screen_card_match.png"></a>
    </div>

    <div id="screen_card_match_filter">
      <a href="#screen_card_manage_contact"><img src="img/screen_card_match_filter.png"></a>
    </div>

    <div id="screen_card_manage_contact">
      <a href="#screen_card_chat"><img src="img/screen_card_manage_contacts.png"></a>
    </div>

    <div id="screen_card_chat">
      <a href="#screen_find_event"><img src="img/screen_card_chat.png"></a>
    </div>

    -->

    <managecontactdirective class="ng-hide">


    </managecontactdirective>
    
    <script src="vendor/foundation/js/vendor/jquery.js"></script>
    <script src="vendor/foundation/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>