<!doctype html>
<html class="no-js" lang="en" ng-app="fbApp">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.5" />
    <title>Fistbump 0.1</title>
    <link rel="stylesheet" href="vendor/foundation/css/foundation.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="vendor/foundation/js/vendor/modernizr.js"></script>
    <script src="vendor/angular/angular.js"></script> 

    <!-- load scripts -->
    <script src="vendor/angular-animate/angular-animate.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body>
    
    <!-- navbar -->
      <nav class="top-bar" ng-controller="NavBarController" data-topbar data-options="sticky_on: large">
        <ul class="title-area">
          <li class="name">
            <h1><a href="#"></a></h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li><a href="#">Filter</a></li>
            <li><a href="#" ng-click="showManageContacts()">Contacts</a></li>
          </ul>
        </section>
      </nav>
 

    <!-- card stack -->
    <div class="card_stack" ng-controller="CardStackController">

        <div class="card_stack_active_card">
          
            <div class="card_stack_profile_cover_img">
            </div>

            <div class="card_stack_profile_img">
            </div>

            <div class="card_stack_profile_summary">
              <div id="profile_name">George Moh</div>
              <div id="profile_position">Software Engineer at Liquor.com</div>
            </div>

            <hr id="top_divider">
              <div class="card_stack_profile_tagline">
                <div id="profile_tagline">Internet Entrepreneur looking for co-founders</div>
              </div>
            <hr id="btm_divider">

            <div class="later_meet_btn_grp">
              <div class="later_btn" ng-click="clickLater()"></div>
              <div class="meet_btn" ng-click="clickMeet()"></div>
            </div>
        </div>

    </div>

    <!-- contact screen -->
    <managecontactdirective class="ng-hide">


    </managecontactdirective>
    <!-- chat modal -->
    <chatmodaldirective>
    </chatmodaldirective>

    <!-- filter modal -->


    
    <script src="vendor/foundation/js/vendor/jquery.js"></script>
    <script src="vendor/foundation/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
