<link rel="stylesheet" href="css/chatmodal.css">
<!-- <div id="chatModal" class="reveal-modal" data-reveal> -->
<div id="chatModal" class="ng-hide">

  <div class="chatbox_util_box">
  	<div class="chatbox_util_box_profile_img">
  		<img style="background-image:url('https://media.licdn.com/media/p/2/000/221/367/27186e4.jpg');background-size:95%;border:3px #71fc94 solid;">
  	</div>

  	<!-- remove this portion
   	<div class="chatbox_util_profile_name">Oh Joo Siong
				<div class="chatbox_util_profile_position">Head of Sales at Innova Technologies</div>
	</div> 
	-->

  	<div class="chatbox_util_box_recco">
  	</div>
  	<div class="chatbox_util_box_attachment">
  	</div>
  	<div class="chatbox_util_box_linkedin">
  	</div>
  </div>

  <div class="chatbox_window">
  	{{getChatMessages}}
  </div>

  <div class="chatbox_controls">
  	<input type="text" ng-model="messageToSend" placeholder="type here to begin..."></input>
  	<button ng-click="addMessage()">Send</button>
  </div>


  <a class="close-reveal-modal" ng-click="closeModal()">&#215;</a>
</div>