<link rel="stylesheet" href="/css/manage_contact.css">
<div class="manage_contact_container">

	<div class="manage_contact_card_list" ng-controller="ContactCardListController">

		<h1 class="manage_contact_card_header">Contact Cards</h1>

		<div class="contact_card">
			<div class="contact_card_profile_img">
				<img style="background-image:url('https://media.licdn.com/media/p/2/000/221/367/27186e4.jpg');background-position:-85px -25px;border:6px #71fc94 solid;"></div>
			<div class="contact_card_profile_name">Oh Joo Siong
				<div class="contact_card_profile_position">Head of Sales at Innova Technologies</div>
			</div>
        </div>

		</div>
		<div class="contact_card">
			<div class="contact_card_profile_img">
				<img style="background-image:url('https://media.licdn.com/media/p/3/000/221/303/1ec2ec4.jpg');background-position:-95px -110px;border:6px #FDC96D solid">	
			</div>
			<div class="contact_card_profile_name">Loke J J Ian
				<div class="contact_card_profile_position">Embedded Engineer at CSIT</div>
			</div>
		</div>

	</div>
</div>